
.SimpleMetroArcGauge {
    -fxx-segment0-color: #888888;
    -fxx-segment1-color: #fba71b;
    -fxx-segment2-color: #57b757;
    -fxx-segment3-color: #f3622d;
}

.button.calendar {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-end-margin: 0;
    -fx-start-margin: 0;
}

.button.btn_mealCell {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-end-margin: 0;
    -fx-start-margin: 0;
}

.lbl_meal_name {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #3d3d3d;
}

.lbl_hl {
    -fx-text-fill: #3d3d3d;
    -fx-font-weight: bold;
}

#gp_foods {
    -fx-border-width: 1px 0 0 0;
    -fx-border-radius: 0;
    -fx-border-color: #d8d8d8;
    -fx-border-style: dashed;
}

.lbl_gauge {
    -fx-text-fill: #787878;
}

.btn_trans {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-end-margin: 0;
    -fx-start-margin: 0;
    -fx-effect: dropshadow(three-pass-box, #ccc, 0, 0, 0, 0);
}

.box_wrapper {
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color: #d8d8d8;
    -fx-border-style: solid;
}

.box_header {
    -fx-background-color: #d8d8d8;
}

.box_header_lbl {
    -fx-font-size: 14px;
}

.box_quickAdd {
    -fx-background-color: #d8d8d8;
}